/// Copyright 2018 Indiana University Research and Technology Corporation ///



.rbt-table-responsive {
  empty-cells: show;
  max-width: 100%;
  border: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
  tr {
    clear: both;
    display: table-row;
  }

  th {
    text-align: left;
    display: block;
    box-sizing: border-box;
  }
  td {
    text-align: left;
    display: block;
    box-sizing: border-box;
    &:last-child .dropdown .dropdown-toggle {
      padding-left: 1rem;
      padding-right: 1rem;

    }
  }
}
@include media-breakpoint-up(md) {
  .rbt-table-responsive {
    td, th {
      display: table-cell;
      margin: 0;
    }
    td .rbt-table-responsive-cell-label,
    th .rbt-table-responsive-cell-label {
      display: none !important;
    }
  }
}


@include media-breakpoint-down(sm) {
  .table.rbt-table-responsive {
    background: $color-black--150;
    tbody tr {
      display: block;
      margin-bottom: 1rem;
      border-bottom: none;

    }
    thead {
      border-bottom: 1rem solid $color-black--150;
      th, td {
        display: none;
      }
    }
    td, th {
      border: none;
      margin-left: 1rem;
      margin-right: 1rem;
      background: $white;
      padding-bottom: 1rem;
      padding-top: 0px;
      button {
        margin-bottom: 10px;
      }
      &:first-child {
        padding-top: 1rem;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
      }
      &:last-child {
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        box-shadow: 0 2px 0 #dddddd;

      }
      .rbt-table-responsive-cell-label {
        vertical-align: top;
      }
      .rbt-table-responsive-cell-content {
        //max-width: 67%;
        display: inline-block;
        width: 100%;
        padding-bottom: 10px;
      }
      &:last-child {
        .rbt-table-responsive-cell-content {
          border-bottom: none;
          //margin-top: 10px;
        }
      }
    }
  }
}

