ul li, ol li {
  margin-top: .5rem;
}

.menu {
  li {
    display: inline-block;
    line-height: 1;
    font-size: 1rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
  }
}




dl {
  dt {
    margin-top: .5rem;
    margin-bottom: 0rem;
    &:first-child {
      margin-top: 0rem;
    }
  }
}