/// Copyright 2018 Indiana University Research and Technology Corporation ///







.rfd-skip-link {
  position: fixed;
  top: -6rem;
  padding: 0.5rem;
  &:focus {
    top: 0;
    background-color: $color-white;
    z-index: 9999;
  }
}

.rfd-app-header {
  border-bottom: 1px solid $color-black--100;
  background-color: $color-black--50;
  position: relative;
  //display: flex;
  z-index: 1001;
  align-items: center;
  height: 48px;
  .menu {
    position: inherit;

    .dropdown-pane {
      padding: 0px;
      li {
        display: block;
        margin-right: 0px;
        a {
          &:hover {
            background: $blue;
            color: $white;
          }
        }
      }
        
    }

    button {
      padding: 0.7rem 1rem;
      padding-right: 35px;
      position: relative;
      .rbt-icon-chevron-down {
        position: absolute;
        right: 10px;
        top: 11px;
      }
      &.hover {
        .rbt-icon-chevron-down:before {
          content: "\e90f";
        }
      }

    }
    .rfd-megamenu {
      &.is-open {
        top: 11px !important;
        left: 0px !important;
        width: 100%;
        border-left: none;
        border-right: none;
        transform: translate3d(0px, 58px, 0px) !important;
        box-shadow: 0 1rem 5rem -2rem rgba(0, 0, 0, 0.5);
        background: $color-black--50;
        ul {
          margin-left: 0;
          list-style: none;
          li {
            display: block;
            line-height: inherit;
            font-size: inherit;
            margin-right: inherit;
            a {
             padding: .2rem;
            }
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $body-font-color;
  }
  &.rfd-app-header--light {
    background: $color-white;
  }

  .rfd-brand-image-container {
    padding-left: 0rem;
    padding-right: 0rem;

    .rfd-brand-image {
      max-height: 48px;
      //width: auto;
    }
  }
  .rfd-brand-title-container {
    .rfd-brand-title {
      font-weight: normal;
      margin-bottom: 0rem;
      //color: $body-color;
      font-size: 1.125rem;
      margin-left: -.5rem;
      line-height: 1;
      &:hover {
        //color: darken( $primary, 10% );
        text-decoration: underline;
      }
    }
  }
  .nav {
    .nav-item {
      margin-right: 2rem;
      .nav-link {
        //color: $body-color;
        padding: 0 0.25rem;
        cursor: pointer;

        display: inline-block;
        &:after {
          margin-left: 10px;
        }
        &.dropdown-toggle {
          display: inline-block;
        }
        &[aria-expanded="true"]:after {
          content: "\e90f";
        }
      }
      > .nav-link.active {
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          //background-color: $primary;
          height: 0.25rem;
          width: 100%;
          top: 2.9rem;
          left: -0.6rem;
        }
      }
      a, button {
        &:focus {
          outline: none;
          //@include rvb-focusoutline-shadow;
        }
      }
      button.nav-link {
        background: none;
        border: none;
      }
      &:last-child {
        margin-right: 0rem;
      }
    }
  }

  .rfd-drawer-button {
    height: 48px;
    width: 48px;
    padding-left: 13px;
    border-left: 1px solid $color-black--200;
    &.open {
      background: $color-black--100;
      .btn.btn-link {
        .rbt-icon-menu:before {
          content: "\e918";
        }
        &:focus {
          //background: $primary;
          color: $color-white;
        }
      }
    }
    .btn {
      height: 48px;
      width: 48px;
      font-size: 16px;
      margin-left: -16px;
      //color: $body-color;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }
    .btn.btn-link {
      .rbt-icon-menu {
        margin-left: 0px;
      }
      &:hover {
        background: none;
      }
      &:focus {
        box-shadow: none !important;
        //@include rvb-focusoutline;
        outline-offset: -2px;

      }

    }
  }
}

@media screen and (min-width: 40em) {
  .rfd-app-header {
    height: 70px;
    .rfd-brand-image-container {
      .rfd-brand-image {
        max-height: 70px;
      }
    }
    .rfd-brand-title-container {
      .rfd-brand-title {
        font-size: 1.4375rem;
      }
    }
    .rfd-drawer-button {
      height: 70px;
      width: 70px;
      .btn {
        height: 70px;
        width: 70px;
        font-size: 24px;
      }
    }
  }
}



