/// Copyright 2018 Indiana University Research and Technology Corporation ///

.modal {
	&.show .modal-dialog {
	    transform: none !important;
	}
	
	&.fade .modal-dialog {
	    transition: none !important;
	    transform: none !important;
	}

	.modal-content {
	  overflow: hidden;
	  .modal-header {
	    padding: 1.5rem 1rem;
	    .modal-title {
	      font-size: 1.25rem;
	      font-weight: 700;
	      line-height: 1;
	    }
	    .close {
	      margin: -7px -5px -15px auto;
	    }
	  }
	  .modal-footer{
	    padding: 1rem 1.5rem;
	    background: $color-black--50;
	  }
	}
}