/// Copyright 2018 Indiana University Research and Technology Corporation ///

.btn {
  font-weight: bold;
  border-width: 2px;
  text-decoration: none;
  font-family: $font-family-sans-serif;
  [class^="rbt-icon"] {
    margin-left: .5rem;
    line-height: 0;
  }
  .sr-only + [class^="rbt-icon"] {
    margin-left: 0rem;
  }

  &:focus {

  }
}

.btn-primary:focus,
.btn-outline-primary:focus,
.btn-link:focus,
.btn-outline-link:focus{
  box-shadow: 0 0 0 0.125rem $color-white, 0 0 0 0.2875rem $primary !important;
}

.btn-success:focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.125rem $color-white, 0 0 0 0.2875rem $green !important;
}

.btn-danger:focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.125rem $color-white, 0 0 0 0.2875rem $red !important;
}

//this is hacky...
.btn.btn-outline-primary:hover {
  background: #cce0ea;
  color: $blue;
}


.btn.btn-outline-success:hover {
  background-color: #d9eddf;
  color: $green;
}



.btn.btn-outline-danger:hover {
  background-color: #fae1d9;
  border-color: #df3603;
  color: #df3603;
}


.btn.btn-link:hover {
  background: #cce0ea;
}

.btn.btn-link {
text-decoration: none;
}

button:disabled, button:disabled:hover,
.button:disabled,
.button:disabled:hover,
.rvt-button:disabled,
.rvt-button:disabled:hover,
.btn.disabled{
  background-color: #eeeeee !important;
  color: #666666!important;
  border-color: #aaaaaa !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}

button:disabled.rbt-btn-progress {
  background-color: $primary !important;
  color: $color-white !important;
  border-color: $primary !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}

.rbt-button-group {
  display: flex;
  > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.rbt-button-group-right {
  justify-content: flex-end;
}




.btn-sm {
  height: 1.5rem;
  line-height: 1.1;
  vertical-align: bottom;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: .05rem;
  font-size: 1rem;
}

.btn-group .btn + .btn {
  border-left: 1px;
}

.input-group-prepend {
  .btn {
    &.dropdown-toggle {
      margin-right: 0px !important;
    }

  }
}
// button progress messaging //

.rbt-btn-progress {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem; }