/// Copyright 2018 Indiana University Research and Technology Corporation ///


//
// Font family
//

$font-family-sans-serif: "BentonSans", "Helvetica Neue", "Helvetica", sans-serif !default;

$rbt-font-path:  "../../fonts" !default;
$rbt-font-version: "1.0.0" !default;
//
// Color system
//

// Base colors

$color-white: #ffffff;
$color-subtle-gray: #f7f7f7;
$color-black: #333333;


$color-black--50: #fafafa;
$color-black--100: #eeeeee;
$color-black--150: #eaeaea;
$color-black--200: #dddddd;
$color-black--300: #cccccc;
$color-black--400: #aaaaaa;
$color-black--500: #999999;
$color-black--600: #777777;
$color-black--700: #666666;
$color-black--800: #555555;
$color-black--900: #444444;


// Use this when you need a default (darkest) black.
$color-black--rich: #000000;



$grays: (
        100: $color-black--100,
        200: $color-black--200,
        300: $color-black--300,
        400: $color-black--400,
        500: $color-black--500,
        600: $color-black--600,
        700: $color-black--700,
        800: $color-black--800,
        900: $color-black--900
) !default;
//$blue:    #007bff !default;
$blue:    #006298 !default;



$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #df3603 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #008a28 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: (
        blue: $blue,
        indigo: $indigo,
        purple: $purple,
        pink: $pink,
        red: $red,
        orange: $orange,
        yellow: $yellow,
        green: $green,
        teal: $teal,
        cyan: $cyan,
        white: $color-white,
        gray: $color-black--600,
        gray-dark: $color-black--800
) !default;

$theme-colors: (
        primary: $blue,
        secondary: $color-black--300,
        success: $green,
        info: $cyan,
        warning: $yellow,
        danger: $red,
        light: $color-black--100,
        dark: $color-black--800
) !default;


// Alert colors
// https://styleguide.iu.edu/visual-style/colors.html

// Some of these alert colors have been slightly altered to meet WCAG 2.0
// Standards for sufficient contrast ration against white.

// Alert text colors generated via this handy tool:
// https://codepen.io/basham/pen/OpNybO

$color-alert-gray: #a7a9ab;
$color-alert-gray-light: #eeeeee;
$color-alert-green: #008a28;
$color-alert-green-text: #16521d;
$color-alert-green-light: #ddf4ea;
$color-alert-blue: #006298;
$color-alert-blue-text: #134a71;
$color-alert-blue-light: #edf1f6;
$color-alert-yellow: #f5bb17;
$color-alert-yellow-text: #584416;
$color-alert-yellow-light: #fdf7e7;
$color-alert-orange: #df3603;
$color-alert-orange-text: #82270d;
$color-alert-orange-light: #fdeee8;


// Set a specific jump point for requesting color jumps
$theme-color-interval: 8% !default;

$list-group-border-width: 2px;

$list-group-border-color:#eeeeee;

$list-group-item-padding-y:1rem;

$link-decoration:  underline !default;


// fonts

$headings-font-weight:normal !default;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$input-btn-padding-y:       .625rem !default;
$input-btn-padding-x:       .75rem !default;
$input-btn-line-height:     1 !default;

$input-btn-padding-y-sm:    .35rem !default;
$input-btn-padding-x-sm:    .65rem !default;
$input-btn-line-height-sm:  1 !default;

$input-btn-padding-y-lg:    .5rem !default;
$input-btn-padding-x-lg:    1rem !default;
$input-btn-line-height-lg:  1.5 !default;

$line-height-sm: 1 !default;



// Badges

$badge-font-size:                   80% !default;
$badge-font-weight:                 700 !default;
$badge-padding-y:                   .03125em  !default;
$badge-padding-x:                   .5em !default;
$badge-border-radius:               999px !default;




// Modals

// Padding applied to the modal body
$modal-inner-padding:         1.5rem !default;

$modal-dialog-margin:         10px !default;
$modal-dialog-margin-y-sm-up: 30px !default;

//$modal-title-line-height:     $line-height-base !default;

$modal-content-bg:               $color-white !default;
$modal-content-border-color:     rgba($color-black--rich,.2) !default;
//$modal-content-border-width:     $border-width !default;
$modal-content-box-shadow-xs:    0 3px 9px rgba($color-black--rich,.5) !default;
$modal-content-box-shadow-sm-up: 0 5px 15px rgba($color-black--rich,.5) !default;

$modal-backdrop-bg:           $color-black--rich !default;
$modal-backdrop-opacity:      .7 !default;
$modal-header-border-color:   $color-black--200 !default;
$modal-footer-border-color:   $modal-header-border-color !default;
//$modal-header-border-width:   $modal-content-border-width !default;
//$modal-footer-border-width:   $modal-header-border-width !default;
$modal-header-padding:        15px !default;
$modal-inner-padding:         1rem;

$modal-lg:                    800px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;

$modal-transition:            transform .3s ease-out !default;



// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:             1rem !default;
$alert-padding-x:             1rem !default;
$alert-margin-bottom:         1.5rem !default;
$alert-border-radius:         none !default;


$body-color:    $color-black--900 !default;



$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;


// Pagination

$pagination-padding-y:                .75rem !default;
$pagination-padding-x:                1rem !default;
$pagination-padding-y-sm:             .35rem !default;
$pagination-padding-x-sm:             .65rem !default;

//$pagination-color:                     $link-color !default;
$pagination-bg:                        $color-white !default;
$pagination-border-width:              1px !default;
$pagination-border-color:              $color-black--300 !default;

//$pagination-hover-color:               $link-hover-color !default;
$pagination-hover-bg:                  $color-black--200 !default;
$pagination-hover-border-color:        #ddd !default;

$pagination-active-color:              $color-white !default;
$pagination-active-bg:                 $blue !default;
$pagination-active-border-color:       $blue !default;

$pagination-disabled-color:            $color-black--700 !default;
$pagination-disabled-bg:               $color-black--100 !default;
$pagination-disabled-border-color:     #ddd !default;



// Breadcrumbs

$breadcrumb-padding-y:          1rem !default;
$breadcrumb-padding-x:          1rem !default;
$breadcrumb-item-padding:       .5rem !default;

$breadcrumb-bg:                 $color-black--100 !default;
$breadcrumb-divider-color:      $color-black--300 !default;
$breadcrumb-active-color:       $color-black--600 !default;
$breadcrumb-divider:            "/" !default;




// Badges

$badge-color:                 $body-color !default;
$badge-font-size:             75% !default;
$badge-font-weight:           bold !default;
$badge-padding-y:             0.125rem !default;
$badge-padding-x:             0.5rem !default;


$badge-pill-padding-x:        .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius:    10rem !default;



// Cards

$card-spacer-y:            .75rem !default;
$card-spacer-x:            1.25rem !default;
$card-border-width:        0px !default;
$card-border-radius:       4px !default;
$card-border-color:        rgba($color-black--rich,.125) !default;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:              rgba($color-black--rich, .03) !default;
$card-bg:                  $color-white !default;

$card-img-overlay-padding: 1.25rem !default;

//$card-deck-margin:          ($grid-gutter-width / 2) !default;

$card-columns-count:        3 !default;
$card-columns-gap:          1.25rem !default;
$card-columns-margin:       $card-spacer-y !default;



// forms

$input-color:                    $color-black--800;
$input-disabled-bg:              $color-black--100 !default;
$input-border-color:             $color-black--700;
$form-check-input-gutter:        0rem !default;

// input groups

$input-group-addon-bg:                  $color-black--100 !default;
$input-group-addon-border-color:        $input-border-color !default;
$input-group-addon-color:               $color-black--800;

// dropdowns

$dropdown-link-hover-bg:            $color-white !default;

// This little function makes it easier to get values out
// of the type-sizes map. see "core/_varibales.scss".

@function ts($key) {
  @return map-get($type-sizes, $key);
}

// Media query helper function

@mixin mq($size) {
  @media screen and (min-width: $size) {
    @content
  }
}


// Main type sizes map. This is used to generate all of the .ts-
// utilitiy classes in "components/_type-scale.scss"

// $key = pixel size, $value = relational units
$type-sizes: (
        12: .75rem,
        14: .875rem,
        16: 1rem,
        18: 1.125rem,
        20: 1.25rem,
        23: 1.4375rem,
        26: 1.625rem,
        29: 1.8125rem,
        32: 2rem,
        36: 2.25rem,
        41: 2.5625rem,
        46: 2.875rem,
        52: 3.25rem,
);

// Type Size variables
$ts-12: map-get($type-sizes, 12);
$ts-14: map-get($type-sizes, 14);
$ts-16: map-get($type-sizes, 16);
$ts-base: $ts-16;
$ts-18: map-get($type-sizes, 18);
$ts-20: map-get($type-sizes, 20);
$ts-23: map-get($type-sizes, 23);
$ts-26: map-get($type-sizes, 26);
$ts-29: map-get($type-sizes, 29);
$ts-32: map-get($type-sizes, 32);
$ts-36: map-get($type-sizes, 36);
$ts-41: map-get($type-sizes, 41);
$ts-46: map-get($type-sizes, 46);
$ts-52: map-get($type-sizes, 52);

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding:          1rem !default;
$table-cell-padding-sm:       .5rem !default;

$table-bg:                    transparent !default;
$table-accent-bg:             $color-subtle-gray !default;
