/// Copyright 2018 Indiana University Research and Technology Corporation ///



.icon-selector {
  position: relative;
  .icon-current {
    //padding:10px;
    //border: solid 1px $color-black--300;
    .icon-display {
      padding-left: 30px;
      .fa {
        font-size: 50px;
      }
    }
    .icon-name {
      //@extend .small;
      //text-transform: uppercase;
    }
    .icon-select {
      @extend .text-right;
    }

  }
  .icon-search {
    position: absolute;
    top:0px;
    z-index: 5;
    width: 100%;
    .card {
      margin-top: -20px;
      margin-left: -20px;
      margin-right: -20px;
      .card-body {
        max-height: 400px;
        overflow: auto;
        .btn {
          margin-right: 5px;
          margin-bottom: 5px;
          //width: 36px;
          //height: 36px;
          border-color: $color-black--100;
          font-size: 24px;
          padding: 6px;
          .fa {
            width: 26px;
            height: 26px;
          }
        }
      }
    }
  }
}