.ts-12,
.rfd-ts-12,
.rfd-ts-xxs {
  font-size: 0.75rem !important;
}

.ts-14,
.rfd-ts-14,
.rfd-ts-xs  {
  font-size: 0.875rem !important;
}

.ts-16,
.rfd-ts-16,
.rfd-ts-base {
  font-size: 1rem !important;
}

.ts-18,
.rfd-ts-18 {
  font-size: 1.125rem !important;
}

.ts-20,
.rfd-ts-20,
.rfd-ts-sm {
  font-size: 1.25rem !important;
}

.ts-23,
.rfd-ts-23 {
  font-size: 1.4375rem !important;
}

.ts-26,
.rfd-ts-26,
.rfd-ts-md {
  font-size: 1.625rem !important;
}

.ts-29,
.rfd-ts-29 {
  font-size: 1.8125rem !important;
}

.ts-32,
.rfd-ts-32,
.rfd-ts-lg {
  font-size: 2rem !important;
}

.ts-36,
.rfd-ts-36 {
  font-size: 2.25rem !important;
}

.ts-41,
.rfd-ts-41,
.rfd-ts-xl {
  font-size: 2.5625rem !important;
}

.ts-46,
.rfd-ts-46 {
  font-size: 2.875rem !important;
}

.ts-52,
.rfd-ts-52,
.rfd-ts-xxl {
  font-size: 3.25rem !important;
}




strong {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

