/// Copyright 2018 Indiana University Research and Technology Corporation ///

.rbt-skip-link {
  position: fixed;
  top: -6rem;
  padding: 0.5rem;
  &:focus {
    top: 0;
    background-color: $color-white;
    z-index: 9999;
  }
}

.rbt-app-header {
  border-bottom: 1px solid $color-black--100;
  background-color: $color-black--50;
  position: relative;
  //display: flex;
  z-index: 1001;
  align-items: center;
  height: 48px;

  a {
    text-decoration: none;
  }
  &.rbt-app-header--light {
    background: $color-white;
  }

  .rbt-nav-divider-l {
    padding-left: 2rem;
    position: relative;
    padding-left: 12px;

    &:before {
      content: '';
      background:$color-black--500;
      position: absolute;
      width: 1px;
      height: 32px;
      left: -4px;
      top: 8px;
    }
  }
  .rbt-brand-image-container {
    padding-left: 0rem;
    padding-right: 0rem;

    .rbt-brand-image {
      max-height: 48px;
      //width: auto;
    }
  }
  .rbt-brand-title-container {
    .rbt-brand-title {
      font-weight: normal;
      margin-bottom: 0rem;
      //color: $body-color;
      font-size: 1.125rem;
      margin-left: -.5rem;
      line-height: 1;
      &:hover {
        //color: darken( $primary, 10% );
        text-decoration: underline;
      }
    }
  }
  .nav {
    .nav-item {
      margin-right: 2rem;
      .nav-link {
        //color: $body-color;
        padding: 0 0.25rem;
        cursor: pointer;

        display: inline-block;
        &:after {
          margin-left: 10px;
        }
        &.dropdown-toggle {
          display: inline-block;
        }
        &[aria-expanded="true"]:after {
          content: "\e90f";
        }
      }
      > .nav-link.active {
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          //background-color: $primary;
          height: 0.25rem;
          width: 100%;
          top: 2.9rem;
          left: -0.6rem;
        }
      }
      a, button {
        &:focus {
          outline: none;
          //@include rvb-focusoutline-shadow;
        }
      }
      button.nav-link {
        background: none;
        border: none;
      }
      &:last-child {
        margin-right: 0rem;
      }
    }
  }


  .rbt-drawer-button {
    height: 48px;
    width: 48px;
    border-left: 1px solid $color-black--200;
    &.open {
      background: $color-black--100;
      .btn.btn-link {
        .rbt-icon-menu:before {
          content:"\e918";
        }
        &:focus {
          //background: $primary;
          color: $color-white;
        }
      }
    }
    .btn {
      height: 48px;
      width: 48px;
      font-size: 16px;
      margin-left: -16px;
      //color: $body-color;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }
    .btn.btn-link {
      .rbt-icon-menu {
        margin-left: 0px;
      }
      &:hover {
        background: none;
      }
      &:focus {
        box-shadow: none !important;
       //@include rvb-focusoutline;
        outline-offset: -2px;

      }

    }
  }
}


  .rbt-app-header {
    height:70px;
    .rbt-brand-image-container {
      .rbt-brand-image {
        max-height: 70px;
      }
    }
    .rbt-brand-title-container {
      .rbt-brand-title {
        font-size: 1.4375rem;
        margin-left: inherit;
      }
    }
    .rbt-drawer-button {
      height: 70px;
      width: 70px;
      .btn {
        height: 70px;
        width: 70px;
        font-size: 24px;
      }
    }
  }

