.rbt-sidebar-nav {
  @extend .list-unstyled;

  li {
    line-height: 1.25;
    margin-bottom: .5rem;
    margin-top: 0.5rem;
    &.active {
      &:before {
        content: "";
        margin-left: -0.25rem;
        padding-left: 0.25rem;
        box-shadow: -2px 0 0 #333333;
      }
      a {
        color: $color-black--900;
      }

    }
    a {
      text-decoration: none;
    }
    span {
      color: #666666;
      display: block;
      font-size: 0.875rem;
      margin-top: 2rem;
      margin-bottom: 0rem;
      letter-spacing: .04rem;

    }
    &:first-child {
      span {
        margin-top: 0rem;
      } 
    }
  }
}

