/// Copyright 2018 Indiana University Research and Technology Corporation ///
.rbt-drawer {
  position: absolute;
  right: 0;
  background-color:$color-black--100;
  width: 85%;
  max-width: 400px;
  min-height: 100%;
  border-left: 1px solid $color-black--200;
  padding: 1rem;
  z-index: 5;
  top:48px;
  display: none;
  &.open {
    display: block;
  }
  .list-group {
    .rbt-collapsable > a {
      &:before {
        margin-left: 0px;
        vertical-align: -3px;
        border-top: none;
        border-right: none;
        border-left: none;
        display: inline-block;
        content: "\e90c";
        font-family: rbt-fonts;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 1rem;
        width: 0.75rem;
        position: absolute;
        right: 20px;
      }
    }
    .rbt-collapsable > a.collapsed {
      &:before {
        content: "\e90c";
      }
    }
    .list-group-item {

      .collapse, .collapsing {
        padding-left: 0px;
        .list-group-item {
          border-left:none;
          border-right:none;
          background: $color-black--200;
          &:first-child {
            border-top: none;
            border-top-right-radius: 0rem;
            border-top-left-radius: 0rem;
          }
          &:last-child {
            border-bottom: none;
            border-bottom-right-radius: 0rem;
            border-bottom-left-radius: 0rem;
          }
        }

      }
      padding: 0px;
      a {
        text-decoration: none;
        color: $body-color;
        display: block;
        padding: 1rem;
        line-height: 1.5rem;
        &:focus {
          outline-offset: -2px;
        }
      }


    }
  }
}
@include media-breakpoint-up(sm) {
  .rbt-drawer {
    top: 69px;
  }
}


//currently only used for the drawer underlay

.faded {
  opacity: .3;
}

