/// Copyright 2018 Indiana University Research and Technology Corporation ///

.rbt-z-0 {
  z-index: 0 !important;
}

.rbt-z-100 {
  z-index: 100 !important;
}

.rbt-z-200 {
  z-index: 200 !important;
}

.rbt-z-300 {
  z-index: 300 !important;
}

.rbt-z-400 {
  z-index: 400 !important;
}

.rbt-z-500 {
  z-index: 500 !important;
}

.rbt-z-600 {
  z-index: 600 !important;
}

.rbt-z-700 {
  z-index: 700 !important;
}

.rbt-z-800 {
  z-index: 800 !important;
}

.rbt-z-900 {
  z-index: 900 !important;
}

.rbt-z-1000 {
  z-index: 1000 !important;
}