/// Copyright 2018 Indiana University Research and Technology Corporation ///

.nav-pills {
	.nav-item {

		margin-right: 0rem;
		width: 100%;
		&:first-child {
			.nav-link {
				border-top-right-radius:.25rem;
				border-top-left-radius:.25rem;
			}
		}

		.nav-link {
			line-height: 1;
			padding: 0.5rem 1.5rem;
			border: solid 1px $color-black--200;
			background-color: $color-black--100;
			text-decoration: none;
			color: $color-black--700;
			border-radius:0px;
			width: 100%;
			position:relative;

			&:focus {
				box-shadow:0 0 0 0.125rem $color-white, 0 0 0 0.25rem $primary !important;
				outline:none;
				background-color: $primary;
				color: $color-white;
				border: solid 1px $primary;
				z-index: 100;
			}
			&.active {
				background-color: $primary;
				color: $color-white;
				border: solid 1px $primary;
				z-index: 100;
			}
		}
	}
}

.tab-content {
	border: solid 1px $color-black--200;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	margin-top: -1px;
	padding: 1.5rem;
	transition: box-shadow .2s ease;
	&:focus {
		box-shadow: inset 0 0 0 0.125rem $primary;
		outline: none;
	}
}

@include media-breakpoint-up(sm) {

	.nav-pills {
		.nav-item {

			margin-right: 0.5rem;
			width: inherit;

			.nav-link {

				width: inherit;
				border-top-right-radius:.25rem;
				border-top-left-radius:.25rem;

			}
		}
		&.nav-fill {
			.nav-item {
				&:last-child{
					margin-right: 0rem;
				}
				.nav-link {
					width: 100%;
				}
			}
		}
	}
}

.rbt-tabs-vertical {
	border: solid 1px $color-black--300;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	border-radius: .25rem;
	.nav-pills {
		.nav-link {
			border-radius: 0px;
			border-left: none;
			border-right: none;
			border-top:none;
			color: $color-black--700;
			background: $color-black--100;
			padding: 0.5rem 1.5rem;
			line-height: 1;
			&:first-child {
				border-top-left-radius: .25rem;
			}

			&.active {
				background: $blue;
				color: $color-white;
			}
			&:focus {
				@include rvb-focusoutline-shadow;
				outline: none;
				z-index: 1000;
				background: $blue;
				color: $color-white;
			}
		}
	}
	.tab-content {
		border:none;
		border-left: solid 1px $color-black--300;
	}

}
@include media-breakpoint-down(sm) {
	.rbt-tabs-vertical {
		.tab-content {
			border:none;
			border-left:none;
		}
	}
}