/// Copyright 2018 Indiana University Research and Technology Corporation ///



growls {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 350px;
  width: 100%;
  z-index: 10000;
  padding: 5px 5px 0 5px;
  alert {
    .alert {

    }
  }
}
