/// Copyright 2018 Indiana University Research and Technology Corporation ///




main {
  margin-top: 100px;
  margin-bottom: 100px;
  .demo-container {
    border: solid 2px $color-black--200;
    @extend .mb-5;
    .demo-rendered {
      //background: red;
      border-bottom: solid 2px $color-black--200;
    }
    .demo-code {
      background: $color-black--100;
      padding: 10px;
      padding-top: 5px;
      position: relative;
      .btn {
        position: absolute;
        right: 31px;
        top: 41px;
      }

    }
  }
}

/* fixed and fluid on sm and up */
@media (min-width: 768px) {
  .fixed {
    //flex: 0 0 296px;
    min-width: 296px;
  }
}

@include media-breakpoint-down(xs) {
  main {
    margin-top: 68px;
  }

}


.demo-icons {
  .border {
    width: 40px;
    height: 40px;
    margin-bottom:10px;
    span {
      font-size: 24px;
      vertical-align: middle;
      display: block;
      padding-top: 7px;
      text-align: center;
    }
  }
}



.demo-container {
  .rbt-app-header{
    z-index: 1;
  }
}
.z-example {
  padding: 1.5rem;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: -.5rem;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-example:nth-child(1) {
  top: 0;
  left: 0;
  background-color: aqua;
}

.z-example:nth-child(2) {
  background-color: tomato;
  top: 3rem;
  left: 3rem;
}

.z-example:nth-child(3) {
  top: 6rem;
  left: 6rem;
  background-color: dodgerblue;
}

.z-example:nth-child(4) {
  top: 9rem;
  left: 9rem;
  background-color: blueviolet;
}

.z-example:nth-child(5) {
  top: 12rem;
  left: 12rem;
  background-color: coral;
}

.z-example:nth-child(6) {
  top: 15rem;
  left: 15rem;
  background-color: yellowgreen;
}

.z-example:nth-child(7) {
  top: 18rem;
  left: 18rem;
  background-color: palevioletred;
}

.z-example:nth-child(8) {
  top: 21rem;
  left: 21rem;
  background-color: green;
}

.z-example:nth-child(9) {
  top: 24rem;
  left: 24rem;
  background-color: crimson;
}

.z-example:nth-child(10) {
  top: 27rem;
  left: 27rem;
  background-color: cornflowerblue;
}




/* PrismJS 1.10.0
http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  max-height: 500px;
  overflow: auto;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
